<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/public/build/tailwind.css">
</head>
<body class="bg-white-500">
    <!--header -->
   <header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> 
        <span class="ml-3 text-xl">GUMNAAM</span>
      </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900"></a>
        <a class="mr-5 hover:text-gray-900"></a>
        <a class="mr-5 hover:text-gray-900"></a>
        <a class="mr-5 hover:text-gray-900"></a>
      </nav>
      
     <!-- <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>-->
    </div>
  </header>
     <!-- main body -->
     <div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12"></div>
        <div class="w-1/3 bg-blue-300 h-12">TRAVEL DETAILS</div>
        <div class="w-1/3 bg-white-400 h-12"></div>
      </div>
     <!--<div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12"></div>
        <div class="w-1/3 bg-blue-500 h-12">Not more then 6 passengers at a time</div>
        <div class="w-1/3 bg-white-400 h-12"></div>
      </div>-->

      <!--Passenger 1-->
      <div class="flex mb-4">
        <div class="w-full bg-gray-500 h-12">Receipt for Passenger 1:</div>
       </div>

      <div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Reservation ID</label>
            <input type="text" id="ResID_1" name="fname" value="{{res_id1}}"></div>
        
        <!--<div class="w-1/3 bg-white-500 h-12">
            <label for="fname" >Booking_ID</label>
            <input type="text" id="BID_1" name="fname">
           </div>-->
        
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Payment ID</label>
        <input type="text" id="PayID_1" name="fname" value="{{payment_id1}}"></div>
        </div>
      </div>
      
      <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Aadhar No.</label>
            <input type="text" id="Aadhar_1" name="fname" value="{{adhaar_no1}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Travel Agency ID</label>
            <input type="text" id="TAID_1" name="fname" value="{{agency_id}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Destination</label>
                <input type="text" id="Dest_1" name="fname" value="{{destination}}"></div>
        </div>
    </div>
 
    <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Vehicle No.</label>
            <input type="text" id="Vno_1" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Seat No.</label>
            <input type="text" id="SeatNo_1" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Travel Mode</label>
                <input type="text" id="TM_1" name="fname"></div></div>
        </div>
     
       <!--Passenger 2-->
       <div class="flex mb-4">
        <div class="w-full bg-gray-500 h-12">Receipt for Passenger 2:</div>
       </div>

      <div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Reservation ID</label>
            <input type="text" id="ResID_2" name="fname" value="{{res_id2}}"></div>
        
        <!--<div class="w-1/3 bg-white-500 h-12">
            <label for="fname" >Booking_ID</label>
            <input type="text" id="BID_2" name="fname">
           </div>-->
        
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Payment ID</label>
        <input type="text" id="PayID_2" name="fname" value="{{payment_id2}}"></div>
        </div>
      </div>
      
      <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Aadhar No.</label>
            <input type="text" id="Aadhar_2" name="fname" value="{{adhaar_no2}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Travel Agency ID</label>
            <input type="text" id="TAID_2" name="fname" value="{{agency_id}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Destination</label>
                <input type="text" id="Dest_2" name="fname" value="{{destination}}"></div>
        </div>
    </div>
 
    <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Vehicle No.</label>
            <input type="text" id="Vno_2" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Seat No.</label>
            <input type="text" id="SeatNo_2" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Travel Mode</label>
                <input type="text" id="TM_2" name="fname"></div></div>
        </div>


    
      <!--Passenger 3-->
      <div class="flex mb-4">
        <div class="w-full bg-gray-500 h-12">Receipt for Passenger 3:</div>
       </div>

      <div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Reservation ID</label>
            <input type="text" id="ResID_3" name="fname" value="{{res_id3}}"></div>
        
        <!--<div class="w-1/3 bg-white-500 h-12">
            <label for="fname" >Booking_ID</label>
            <input type="text" id="BID_3" name="fname">
           </div>-->
        
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Payment ID</label>
        <input type="text" id="PayID_3" name="fname" value="{{payment_id3}}"></div>
        </div>
      </div>
      
      <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Aadhar No.</label>
            <input type="text" id="Aadhar_3" name="fname" value="{{adhaar_no3}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Travel Agency ID</label>
            <input type="text" id="TAID_3" name="fname" value="{{travel_agency}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Destination</label>
                <input type="text" id="Dest_3" name="fname" value="{{destination}}"></div>
        </div>
    </div>
 
    <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Vehicle No.</label>
            <input type="text" id="Vno_3" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Seat No.</label>
            <input type="text" id="SeatNo_3" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Travel Mode</label>
                <input type="text" id="TM_3" name="fname"></div></div>
        </div>
 
      <!--Passenger 4-->
      <div class="flex mb-4">
        <div class="w-full bg-gray-500 h-12">Receipt for Passenger 4:</div>
       </div>

      <div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Reservation ID</label>
            <input type="text" id="ResID_4" name="fname" value="{{res_id4}}"></div>
        
        <!--<div class="w-1/3 bg-white-500 h-12">
            <label for="fname" >Booking_ID</label>
            <input type="text" id="BID_4" name="fname">
           </div>-->
        
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Payment ID</label>
        <input type="text" id="PayID_4" name="fname" value="{{payment_id4}}"></div>
        </div>
      </div>
      
      <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Aadhar No.</label>
            <input type="text" id="Aadhar_4" name="fname" value="{{adhaar_no4}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Travel Agency ID</label>
            <input type="text" id="TAID_4" name="fname" value="{{agency_id}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Destination</label>
                <input type="text" id="Dest_4" name="fname" value="{{destination}}"></div>
        </div>
    </div>
 
    <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Vehicle No.</label>
            <input type="text" id="Vno_4" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Seat No.</label>
            <input type="text" id="SeatNo_4" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Travel Mode</label>
                <input type="text" id="TM_4" name="fname"></div></div>
        </div>

    <!--Passenger 5-->
    <div class="flex mb-4">
        <div class="w-full bg-gray-500 h-12">Receipt for Passenger 5:</div>
       </div>

      <div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Reservation ID</label>
            <input type="text" id="ResID_5" name="fname" value="{{res_id5}}"></div>
        
        <!--<div class="w-1/3 bg-white-500 h-12">
            <label for="fname" >Booking_ID</label>
            <input type="text" id="BID_5" name="fname">
           </div>-->
        
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Payment ID</label>
        <input type="text" id="PayID_5" name="fname" value="{{payment_id5}}"></div>
        </div>
      </div>
      
      <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Aadhar No.</label>
            <input type="text" id="Aadhar_5" name="fname" value="{{adhaar_no5}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Travel Agency ID</label>
            <input type="text" id="TAID_5" name="fname" value="{{agency_id}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Destination</label>
                <input type="text" id="Dest_5" name="fname" value="{{destination}}"></div>
        </div>
    </div>
 
    <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Vehicle No.</label>
            <input type="text" id="Vno_5" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Seat No.</label>
            <input type="text" id="SeatNo_5" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Travel Mode</label>
                <input type="text" id="TM_5" name="fname"></div></div>
        </div>
 
      <!--Passenger 6-->
      <div class="flex mb-4">
        <div class="w-full bg-gray-500 h-12">Receipt for Passenger 6:</div>
       </div>

      <div class="flex mb-4">
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Reservation ID</label>
            <input type="text" id="ResID_6" name="fname" value="{{res_id6}}"></div>
        
        <!--<div class="w-1/3 bg-white-500 h-12">
            <label for="fname" >Booking_ID</label>
            <input type="text" id="BID_6" name="fname">
           </div>-->
        
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Payment ID</label>
        <input type="text" id="PayID_6" name="fname" value="{{payment_id6}}"></div>
        </div>
      </div>
      
      <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Aadhar No.</label>
            <input type="text" id="Aadhar_6" name="fname" value="{{adhaar_no6}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Travel Agency ID</label>
            <input type="text" id="TAID_6" name="fname" value="{{agency_id}}"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Destination</label>
                <input type="text" id="Dest_6" name="fname" value="{{destination}}"></div>
        </div>
    </div>
 
    <div class="flex mb-4">
        <div class="w-1/3 bg-white-500 h-12"> 
            <label for="fname" >Vehicle No.</label>
            <input type="text" id="Vno_6" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
            <label for="fname" >Seat No.</label>
            <input type="text" id="SeatNo_6" name="fname"></div>
        <div class="w-1/3 bg-white-400 h-12">
                <label for="fname" >Travel Mode</label>
                <input type="text" id="TM_6" name="fname"></div></div>
        </div>
 
      <!-- Three columns -->
<div class="flex mb-4">
    <div class="w-1/5 bg-white-400 h-12"></div>
    <div class="w-1/5 bg-white-500 h-12"></div>
    <div class="w-1/5 bg-white-400 h-12"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
        Submit</button></div>
    <div class="w-1/5 bg-white-400 h-12"></div>
  <div class="w-1/5 bg-white-500 h-12"></div>
  </div>
  

     <!--Footer -->
     <footer class="text-gray-700 body-font">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl">GUMNAAM</span>
        </a>
        <!--<p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 tailblocks —
          <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@knyttneve</a>
        </p>-->
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>
</body>
</html>